
.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  color: $white;
  padding: 40px;
}

.topbar {
  margin-bottom: 40px;
}

.left {
  color: $gray;
}

.left,
.right {
  width: 300px;
}

.center {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .center-background{
    background-color: $blue;
  }

  &.yellow {
    .center-background{
      background-color: $yellow;
    }
  }

  &.red {
    .center-background{
      background-color: $red;
    }
  }
}

.center-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $blue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  opacity: 0.05;
  animation: circleAnimation 5s infinite;

  &.center-background {
    &-2 {
      width: 200px;
      height: 200px;
      animation-delay: 0.1s;
    }
    &-3 {
      width: 300px;
      height: 300px;
      animation-delay: 0.2s;
    }
    &-4 {
      width: 400px;
      height: 400px;
      animation-delay: 0.3s;
    }
    &-5 {
      width: 500px;
      height: 500px;
      animation-delay: 0.4s;
    }
    &-6 {
      width: 600px;
      height: 600px;
      animation-delay: 0.5s;
    }
  }
}

.center-content {
  font-size: 85px;
  position: relative;
}

.center-content sup {
  position: absolute;
  font-size: 60%;
  top: 0;
}
.content {
  display: flex;
  flex: 1;
}

@keyframes circleAnimation {
  0%{
    transform:translate(-50%, -50%) scale(1);
  }
  50% {
    transform:translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform:translate(-50%, -50%) scale(1);
  }
}

.parameteres-block{
  display: flex;
  color: $gray;
  font-size: 16px;
}

// .parameters-item{
//   color: $gray;
// }